.home{
	background: #FFFFFF url('../assets/slide1.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;

}

.full-height{
	height: 0;
	padding: 20% 0;
}